h1 {
  color: red;
}
div.message-window {
  height: 100%;
}
div.sticky {
  position: sticky;
  bottom: 10px;
  width: 100%;
}
#left-sidebar {
  position: absolute;
  width: auto;
  height: 100%;
  background-color: #C0C0C0;
  border: 2px solid #D3D3D3;
}
#message-container {
  position: absolute;
  left: 202px;
  right: 100%;
}
#new-message {
  margin: 0;
  padding: 0;
}
#message {
  margin: 0;
  padding: 0;
  border: 2px solid #A9A9A9;
}
#channels {
  margin: 0;
  padding: 5px;
  list-style-type: none;
}
#channels li:hover{
  background-color: red;
}
#channel-button {
  text-align:center;
}