h3 {
    padding: 10px;
    color: green;
}

h1 {
    padding: 10px;
    color: green;
}

body {
    height: 100%
}

div.layout-container {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: red;
}

div.message-window {
    height: 100%;
}

#left-sidebar {
    position: fixed;
    float: left;
    width: 200px;
    height: 100%;
    background-color: #d0ffd0;
    border: 2px solid #d3d3d3;
}

#message-container {
    height: 100%;
    left: 200px;
    right: 0;
    float: left;
    position: fixed;
    overflow-y: scroll;
    background-color: #f8f8f8;
}

#new-message {
    margin: 15px;
    margin-top: 5px;
}

#message {
    padding: 5px;
    width: 95%;
}

#channels {
    padding: 10px;
    list-style-type: none;
    font-weight: bold;
    color: green;
}

#channels li:hover {
    background-color: white;
}

#channel-button {
    margin: 10px;
}

#message-submit {
    background: transparent;
    border: none;
    color: transparent;
    width: 0;
}

.emoji-container {
    margin: 20px;
    margin-bottom: 0;
    background-color: none;
}