h1 {
  color: red;
}
body {
  height: 100%
}
div.layout-container {
    position: fixed;
    border: 2px solid pink;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
div.message-window {
  height: 100%;
}
#left-sidebar {
  // position: absolute;
  position: fixed;
  float: left;
  width: 25%;
  height: 100%;
  background-color: #C0C0C0;
  border: 2px solid #D3D3D3;
}
#message-container {
    width: 70%;
    height: 100%;
    padding-left: 25%;
    float: left;
    position: fixed;
  // position: absolute;
  overflow-y: scroll;
  // left: 202px;
  // right: 100%;
}
#new-message {
  margin: 0;
  padding: 0;
}
#message {
  margin: 0;
  padding: 0;
  border: 2px solid #A9A9A9;
  list-style-type: none;
}
#channels {
  margin: 0;
  padding: 5px;
  list-style-type: none;
}
#channels li:hover{
  background-color: red;
}
#channel-button {
  text-align:center;
}