<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="static/styles.css" rel="stylesheet" type="text/css"/>
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            if (!localStorage.getItem('channels')) {
                var channels = [];
                localStorage.setItem('channels', JSON.stringify(channels));
            }

            var ch = JSON.parse(localStorage.getItem('channels'));

            // Loop through channels list in localStorage to display
            var j;
            for (j = 0; j < ch.length; j++) {
                const li = document.createElement('li');
                li.innerHTML = ch[j]['channel'];
                li.className = 'channel';

                // Add new message to list
                document.querySelector('#channels').append(li);
            }
        })
    </script>
    <title>chatRoom</title>
</head>

<body>
<div>
    <div class="channel-container">
        <h1>Channels</h1>
        <form action="/create_channel" method="post">
            <button>New Channel</button>
        </form>
        <ul id="channels" style="list-style: none;">
        </ul>
    </div>
    <div class="message-container">
        <h1>Messages</h1>
        <div id="message-list">
            <ul id="messages" style="list-style: none;">
            </ul>
        </div>

    </div>
</div>
</body>

</html>
