<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link href="static/styles.css" rel="stylesheet" type="text/css"/>
    <script src="static/messages.js"></script>
    <title>chatRoom</title>
</head>

<body>
<div id="left-sidebar">
    <h3>Channels</h3>
    <form id="channel-button" action="/create_channel" method="post">
        <button>New Channel</button>
    </form>
    <br/>
    <ul id="channels">
    </ul>
</div>
<div id="message-container" style="height: 100%;">
    <h1>Messages</h1>
    <div id="message-list">
        <ul id="messages" style="flex: 1 1 auto; overflow: auto; width: 500px;">
        </ul>
    </div>

    <div class="sticky">
        <form id="new-message" >
                <input id="message" autocomplete="off" autofocus type="text"
                       placeholder="New message">
                <input type="submit" id="message-submit"
                       style="background:transparent; border:none; color:transparent;">
        </form>
    </div>
</div>
</body>

</html>
